body {
    margin : 0px;
    padding : 0px;
    width: 100%;
    height: 100%;
    
}
div {
   border: 1px solid black;
    position: absolute;
    width: 100%;
    height: 100%;
}
.interior {
    width: 20%;
    height: 20%;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    border-radius: 5%;
}
.intermedio {
    width: 60%;
    height: 60%;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    border-radius: 5%;
}
.superior {
    top: 8%;
}
.inferior {
    bottom: 8%;
}
.izquierda{ 
    left: 8%;
    background-color: aqua;
}
.derecha{
    right: 8%;
    background-color: yellow;
}

#id1 {
    background-color: rgb(119, 0, 255);;
}